
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

  	<% include ../partials/head %>

  </head>
  <body>
    <header>
				<% include ../partials/header %>
			</header>

<div id="home">
  <div class="heading">
<h1 class="heading1">Welcome to Your dream destination</h1>
  </div>
  <div id="button1">
<a href="/Hawaii"><button  class="button1">Hawaii</button></a>
  </div>
  <div id="button2">
<a href="/Bali"><button  class="button1">Bali</button></a>
  </div>
  <div id="button3">
<a href="Mauritius"><button  class="button1">Mauritius</button></a>
  </div>


</div>
<div id="newsletter">
  <div class="t-container">
        <h2>For the inside scoop on our dream Destinations</h2>
        <h5>Subscribe to our Newsletter!</h5>

        <form action="/server" class="email-input" method="post">
            <input id="newsletterf" required="" name="email" placeholder="Your email"  type="email">
            <button class="button2"  type="submit">Join</button>
        </form>
      </div>
</div>

  </body>
</html>
